
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sakane Footages</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
<link rel="stylesheet" href="/sakane.css">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<div class="site-wrapper">
<div class="site-wrapper-inner">
<div class="cover-container">

<div class="masthead clearfix">
<div class="inner">
<h3 class="masthead-brand">Sakane Footages</h3>
<nav>
<ul class="nav masthead-nav">
<li><a href="/">Archive</a></li>
<li><a href="/contributors">Contributors</a></li>
<li class="active"><a href="/contact">Contact</a></li>
</ul>
</nav>
</div>
</div><!-- /.masthead -->
<!-- ･゜･*:.｡..:*･'｡. .｡.:*･゜･* -->



<article>

<p><img src="10549907_602496569897056_1351969864_n.jpg"></p>

<p><small>このサイトは、坂根厳夫先生の... テキスト テキスト テキスト テキスト テキスト テキストテキストテキストテキストテキストテキスト<br>
キスト テキスト テキスト テキスト テキスト テキストテキストテキストテキストテキストテキスト</small></p>

<p>
<img width="150" src="https://pbs.twimg.com/profile_images/378800000694101385/2fdb3312f9a0a44e6ca153356993b16e.jpeg" class="img-circle">
<img width="150" src="https://pbs.twimg.com/profile_images/3670326476/9c3f13ccdfb514307ed62edc0b5e1921.jpeg" class="img-circle">
<img width="150" src="http://dummyimage.com/150/ccc/fff" class="img-circle">
<img width="150" src="http://dummyimage.com/150/ccc/fff" class="img-circle">
<img width="150" src="http://dummyimage.com/150/ccc/fff" class="img-circle">
</p>
</article>



<!-- ･゜･*:.｡..:*･'｡. .｡.:*･゜･* -->
<div class="mastfoot">
<div class="inner">
<p>&copy; Itsuo Sakane - 2015</a></p>
</div>
</div><!-- /.mastfoot -->

</div>
</div>
</div>
</body>
</html>